* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #61210B;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  color: white;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: white;
    background-color: #61210B;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #F5BCA9;
    color: black;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header header header' 
  'left middle middle middle middle' 
  'footer footer footer footer footer';
  grid-column-gap: 10px;
  align-content: center;
  width: 800px;
  float: left;
} 

.left,
.middle {
  padding: 10px;
  
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #F5BCA9;
  float: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
  background-color: #F5BCA9;
  float: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #61210B;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
    'header header header header header header' 
    'left left left left left left' 
    'middle middle middle middle middle middle' 
    'right right right right right right' 
    'footer footer footer footer footer footer';
}